@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$family-sans-serif: 'Montserrat', sans-serif;
$primary: #6667ab !default;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

$modal-content-width: 800px;

@import "../node_modules/bulma/sass";
@import "../node_modules/bulma/sass/utilities/mixins";
$hero-darken: $dark !default;

@import "layout";
@import "syntax";
@import "showcase";
@import "block-list";
@import "promo-page";

.gh-sponsor {
  color: #ea4aaa;
}

/* Override Bulma link color site-wide */

.custom-link {
  color: #6667ab;
  font-weight: bold;
}

.callout {
  padding: 1rem;
  /* reduce spacing */
  font-size: 0.7rem;
  /* shrink text slightly */
}

.callout .icon {
  font-size: 2rem;
  /* smaller icons (default is larger) */
}